.navbar.bg-light {
  background-color: white !important;
}
.navbar-nav {
  a {
    font-size: 1.2rem;
  }
}
.shopping-bag-holder {
  position: relative;
  .shopping-bag {
    font-size: 3.9rem !important;
  }
  .shopping-bag-price {
    position: absolute;
    top: 45px;
    left: 35px;
    padding: 0.8rem;
  }
}
