.shop-page {
  // border: 1rem dotted red;
  .card {
    border: none !important;
    &:hover {
      box-shadow: 2px 2px 30px darken($color: #e3e3e3, $amount: 10%);
    }
    .card-title {
      font-size: 1.8rem;
    }
  }

  @media (max-width: 400px) {
    h1.display-2 {
      font-size: 4rem;
    }
  }
}

.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div {
  /* change div to reference your elements you put in <Masonry> */
  background: transparent;
  // box-shadow: 3px, 3px, 8px black !important; // DID NOT WORK
  // border: 3px dotted gray;
  // background: grey;
  margin-bottom: 30px;
}

.col {
  padding-right: 10px !important;
  padding-left: 10px !important;
  // box-shadow: 3px 3px 8px #e3e3e3;
}
